main {
  display: inline-block;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

main h1.title {
  font-size: 52px;
  font-weight: normal;
}

main div.links {
  display: inline-block;
  margin-top: 10px;
}

main div.links a {
  display: inline-block;
  height: 60px;
  margin: 0 10px;
  width: 80px;
}

main div.links i {
  font-size: 40px;
}

main div.links span {
  display: block;
  opacity: 0;
  text-transform: uppercase;
  transition: opacity .3s ease-out;
}
main div.links a:hover span {
  opacity: .7;
}
