#about {
  left: 20%;
  margin: 50px 0;
  position: absolute;
  top: 100%;
  width: 60%;
}

#about h2.title {
  display: block;
  font-size: 38px;
  font-weight: normal;
  margin: 30px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

#about h2.title img {
  border-radius: 100%;
  border: 1px solid #ddd;
  height: 48px;
  position: absolute;
  top: 50%;
  transform: translate(-70px, -50%);
  width: 48px;
}

#about p {
  font-size: 20px;
  line-height: 1.7;
}
#about p span {
  color: rgba(17, 34, 51, .7);
  display: block;
  float: left;
  margin: 5px 0;
  margin-left: 16px;
  text-indent: -16px;
  width: 100%;
}
#about p span:first-letter {
  color: rgba(17, 34, 51, 1);
  font-size: 22px;
}

#about div.backtotop {
  display: inline-block;
  margin-top: 20px;
  opacity: .7;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
#about div.backtotop:hover {
  cursor: pointer;
}

#about div.backtotop i {
  display: block;
  transition: margin .3s ease-out;
}
#about div.backtotop:hover i {
  margin: 6px 0;
}


/* responsive */
@media screen and (max-width: 640px) {

  #about {
    left: 10%;
    width: 80%;
  }

  #about p {
    font-size: 18px;
    line-height: 1.7;
  }

  #about p span:first-letter {
    font-size: 20px;
  }

}
