main .bg {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;

    &.fixed {
        position: fixed;
        top: -192px;

        .stripe {
            border-radius: 0;
            height: 128px;
            transform: translate(0, 32px) !important;
            margin: 0;
        }
    }

    .stripe {
        transition: .2s ease-out;
        background: $accent-color-darker;
        border-radius: 4px;
        display: inline-block;
        height: 32px;
        margin: 16px;
        transform: rotate(25deg);
        position: relative;
        width: 100vw;
    }
}