main .bg {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;

    .stripe {
        background: $accent-color-darker;
        border-radius: 4px;
        display: inline-block;
        height: 32px;
        transform: rotate(25deg);
        width: 100vw;
    }
}