@import "bg";

main {
    .title-container {
        left: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        .title {
            background: $accent-color;
            border-radius: 4px;
            color: $text-color-light;
            padding: 12px 24px;
        }
        .subtitle {
            background: $bg-color-darker;
            border-radius: 4px;
            transform: translate(33%, -33%);
        }
    }
}

