// colors
$bg-blue: hsl(240, 14%, 93%);
$bg-green: hsl(156, 14%, 93%);
$bg-red: hsl(0, 14%, 93%);
$bg-yellow: hsl(48, 14%, 93%);
$text-lighter: #888;
$text-regular: #555;

// css baseline
body {
    background-color: #fcfcfc;
    color: $text-regular;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
    transition: opacity .2s ease-out;
    
    &:hover {
        opacity: .6;
    }
}

// headings
h1 {
    color: $text-lighter;
    font-size: 36px;
    font-weight: 700;
}
h2 {
    color: $text-regular;
    font-size: 24px;
    font-weight: 700;
}
h3 {
    color: $text-lighter;
    font-size: 24px;
    font-weight: 300;
}
h4 {
    color: $text-regular;
    font-size: 16px;
    font-weight: 600;
}
h5 {
    color: $text-lighter;
    font-size: 16px;
    font-weight: 300;
}