#budget {
    a {
        font-weight: bold;
    }

    h1 {
        color: $text-regular;
        @media (prefers-color-scheme: dark) { color: $text-regular-dark; }
    }

    .header {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 24px;

        img {
            border-radius: 30px;
            height: 120px;
            width: 120px;
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 600px;
        padding: 24px;

        &.badges {
            align-items: center;
            flex-direction: row;
            justify-content: center;
            .android { width: 152px; }
            .apple { height: 40px; padding: 10px; }
        }

        h4 {
            border-bottom: 2px solid #ddd;
            padding-bottom: 4px;
        }

        .screenshot {
            align-self: center;
            margin-top: 24px;
            width: 280px;
        }
    }

    footer {
        margin-top: 16px;
    }
}