$header-height: 50vh;
$header-min-height: 320px;

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: $header-height;
    min-height: $header-min-height;
    position: fixed;
    text-align: center;
    top: 0;
    transition: .2s ease-out;
    width: 100vw;

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 260px;
        justify-content: center;
        width: 280px;
    
        .profilepic {
            align-self: center;
            border: 2px solid $bg-color-darker;
            border-radius: 100%;
            filter: grayscale(0.6);
            height: 112px;
            transform: translate(0, 20px);
            width: 112px;
            z-index: 1;
        }
    
        .title {
            background: $accent-color;
            border-radius: 4px;
            color: $text-color-light;
            padding: 12px 0;
            transform: translate(-12px, 0);
        }
    
        .subtitle {
            background: $bg-color-darker;
            border-radius: 4px;
            transform: translate(12px, -12px);
        }
    }

    .links {
        display: flex;
        margin-bottom: 12px;
    }
}