@import "base";
@import "budget";

// headings
h1 {
    color: $text-lighter;
    font-size: 36px;
    font-weight: 700;
}
h2 {
    color: $text-regular;
    font-size: 24px;
    font-weight: 700;
}
h3 {
    color: $text-lighter;
    font-size: 24px;
    font-weight: 300;
}

// hero
.hero-container {
    display: flex;
}
.hero-image {
    background-image: url("/assets/longboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 16px 0;
    height: 80vh;
    width: 65vw;
}
.hero-motto {
    max-width: 320px;
}
.hero-name {
    align-self: flex-end;
    position: absolute;
}
.hero-text {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}