@import "base";
@import "budget";

// body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 72px;
//     font-weight: 900;
//     text-shadow: 3px 3px #665511, -3px -3px #000;
// }

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.red {
    align-items: center;
    background-color: #402221;
    border-radius: 100px;
    display: flex;
    height: 200px;
    transform: translateX(-25%);
    width: 200px;

    span {
        // background-color: black;
        font-size: 48px;
        font-weight: 900;
        text-shadow: 3px 3px #665511, -3px -3px #000;
        transform: translateX(50%);
    }
}
// div.yellow {
//     // background-color: #665521;
//     height: 200px;
//     width: 200px;
// }