@import "base";
@import "budget";
@import "header";
@import "portfolio";
@import "about";

// animate body loading
body {
    transition: opacity .2s ease-out;
}

// footer
footer {
    margin: 96px 0 16px 0;
    text-align: center;
}