#content {
    margin-top: 460px;
}

#content .projects-container {
    background: $bg-color-darker;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 12px;

    .project {
        justify-content: center;
        background: $bg-color;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        height: 240px;
        margin: 12px;
        text-align: center;
        width: 240px;

        .header {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .footer {
            align-content: center;
            display: grid;
            margin-top: 16px;
            z-index: 1;
        }

        .name {
            background: $accent-color;
            border-radius: 4px;
            color: $text-color-light;
            padding: 8px 20px;
            transform: translate(0, -4px);
        }

        .year {
            background: $bg-color-darker;
            border-radius: 4px;
            padding: 4px 8px;
            transform: translate(0, 4px);
            z-index: 1;
        }
    }
}