#header {
    border-bottom: 2px solid $accent-color; // darker?
    padding: 96px 0;
    text-align: center;
}

#header .title-container {
    display: inline-flex;
    flex-direction: column;
    height: 260px;
    justify-content: center;
    width: 280px;

    .profilepic {
        align-self: center;
        border: 2px solid $bg-color-darker;
        border-radius: 100%;
        filter: grayscale(0.6);
        height: 112px;
        transform: translate(0, 20px);
        width: 112px;
        z-index: 1;
    }

    .title {
        background: $accent-color;
        border-radius: 4px;
        color: $text-color-light;
        padding: 12px 0;
        transform: translate(-12px, 0);
    }

    .subtitle {
        background: $bg-color-darker;
        border-radius: 4px;
        transform: translate(12px, -12px);
    }
}

#header .bg-container {
    align-content: center;
    display: inline-grid;
    height: 260px; // upstream to #header?
    justify-content: center;
    position: absolute;
    width: 280px;

    .stripe {
        background: $accent-color-darker;
        border-radius: 4px;
        height: 32px;
        transform: rotate(25deg);
        // transition: .2s ease-out;
        width: 100vw;
    }
}