#header {
    align-content: center;
    background: $bg-color;
    border-bottom: 2px solid $accent-color; // darker?
    box-sizing: border-box;
    display: grid;
    height: 460px;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#header .title-container {
    display: inline-flex;
    flex-direction: column;
    height: 260px;
    justify-content: center;
    width: 280px;

    .profilepic {
        align-self: center;
        border: 2px solid $bg-color-darker;
        border-radius: 100%;
        filter: grayscale(0.6);
        height: 112px;
        transform: translate(0, 20px);
        width: 112px;
        z-index: 1;
    }

    .title {
        background: $accent-color;
        border-radius: 4px;
        color: $text-color-light;
        padding: 12px 0;
        transform: translate(-12px, 0);
    }

    .subtitle {
        background: $bg-color-darker;
        border-radius: 4px;
        transform: translate(12px, -12px);
    } 
    
    .bg-container {
        align-content: center;
        display: grid;
        justify-content: center;
        position: absolute;
        width: 280px;
        z-index: -1;
    
        .stripe {
            background: $accent-color-darker;
            border-radius: 4px;
            height: 32px;
            transform: rotate(25deg);
            transition: .2s ease-out;
            width: 100vw;
        }
    }
}