#header {
    align-content: center;
    background: $bg-color;
    border-bottom: 2px solid $accent-color-darker;
    box-sizing: border-box;
    display: grid;
    height: 460px;
    justify-content: center;
    min-height: 80px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#header .header-container {
    display: inline-flex;
    flex-direction: column;
    height: 260px;
    justify-content: center;
    width: 280px;

    .profilepic {
        align-self: center;
        border: 2px solid $bg-color-darker;
        border-radius: 100%;
        filter: grayscale(0.6);
        height: 112px;
        transform: translate(0, 20px);
        width: 112px;
        z-index: 1;
    }

    .title {
        background: $accent-color;
        border-radius: 4px;
        color: $text-color-light;
        padding: 12px 0;
        transform: translate(-12px, 0);
    }

    .subtitle {
        background: $bg-color-darker;
        border-radius: 4px;
        transform: translate(12px, -12px);
    } 
    
    .stripe {
        align-self: center;
        align-content: center;
        background: $accent-color-darker;
        color: transparent;
        border-radius: 4px;
        display: grid;
        height: 32px;
        position: absolute;
        transform: rotate(25deg);
        transition: .2s ease-out;
        width: 100vw;
        z-index: -1;
    }

    &.fixed {
        .stripe {
            border-radius: 0;
            color: $text-color-light;
            height: 100vh;
            opacity: 1 !important;
            z-index: 1;
        }
    }
}